@import 'mixins/var.scss';

.#{$name}-grid{
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
}
.no-gutters,
.no-gutters .#{$name}-col,
.no-gutters [class*=#{$name}-col] {
  padding-right: 0;
  padding-left: 0;
}
.#{$name}-row{
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
  &::before,&::after{
    display: table;
    content: "";
  }
  &::after{
    clear: both;
  }
}

[class*=#{$name}-col]{
  float:left;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  box-sizing: border-box;
}
@include colmns();

@each $colname, $num in $grid-breakpoints{
    @if $colname == 'xs'{
      $break: (max-width:#{$num});
      @include media-breakPoints($break){
        @include colmns(0,24,$colname);
      }
    }@else { 
      @include colmns(0,24,$colname);
    }
}

[mode=flex]{
  display: flex;
  flex-wrap: wrap;
}

@each $mode in $grid-align-items{
  [align-items=#{$mode}]{
    align-items: $mode;
  }
}

@each $mode in $grid-justify-content{
  [justify-content=#{$mode}]{
    justify-content: $mode;
  }
}