@import 'mixins/var.scss';
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
  width: 7px;
  height: 10px;
  background-color: transparent;
}

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track{
  // border-radius: 3px;
  background-color: transparent;
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb{
  // width: 6px;
  border-radius: 3.5px;
  background-color: $color;
}